html, body {
  height: 100%;
}
body {
  background: radial-gradient(#333, #111);
  overflow: hidden;
  color: white;
}

.cards {
  bottom: 0.65em;
  display: flex;
  height: 12em;
  padding: 1em 4em;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
}
.card {
	width: 10em;
	height: 16em;
  margin: 0 -3em;
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 0.8em;
  display: inline-table;
  color: #000;
}

.card-face {
  bottom: 0;
  left: 0;
  color: #000;
  right: 0;
  top: 0;
  border-radius: 0.8em;
}

.card-label {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  letter-spacing: -0.025em;
  padding: 1em 1em 0 1em;
}

/* card 1 */
.card:nth-child(1) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(45px) rotate(-28.125deg);
}
.card:nth-child(1) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(1):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.card:nth-child(1):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(1):hover:after {
  top: -175px;
}

/* card 2 */
.card:nth-child(2) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(35px) rotate(-21.875deg);
}
.card:nth-child(2) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(2):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(2):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(2):hover:after {
  top: -175px;
}

/* card 3 */
.card:nth-child(3) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(25px) rotate(-15.625deg);
}
.card:nth-child(3) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(3):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(3):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(3):hover:after {
  top: -175px;
}

/* card 4 */
.card:nth-child(4) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(15px) rotate(-9.375deg);
}
.card:nth-child(4) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(4):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(4):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(4):hover:after {
  top: -175px;
}

/* card 5 */
.card:nth-child(5) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(5px) rotate(-3.125deg);
}
.card:nth-child(5) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(5):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(5):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(5):hover:after {
  top: -175px;
}

/* card 6 */
.card:nth-child(6) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(5px) rotate(3.125deg);
}
.card:nth-child(6) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(6):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(6):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(6):hover:after {
  top: -175px;
}

/* card 7 */
.card:nth-child(7) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(15px) rotate(9.375deg);
}
.card:nth-child(7) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(7):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(7):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(7):hover:after {
  top: -175px;
}

/* card 8 */
.card:nth-child(8) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(25px) rotate(15.625deg);
}
.card:nth-child(8) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(8):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(8):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(8):hover:after {
  top: -175px;
}

/* card 9 */
.card:nth-child(9) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(35px) rotate(21.875deg);
}
.card:nth-child(9) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(9):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(9):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(9):hover:after {
  top: -175px;
}

/* card 10 */
.card:nth-child(10) .card-face {
  background: linear-gradient(-135deg, rgba(255, 255, 255, 1), rgba(153, 153, 153, 1));
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(45px) rotate(28.125deg);
}
.card:nth-child(10) .card-face .card-label {
  color: rgba(0, 0, 0, 1);
  text-shadow: -0.025em 0.025em 0 rgba(115, 115, 115, 1);
}
.card:nth-child(10):hover .card-face {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), inset 0 0 0 2px rgba(0, 0, 0, 0.75);
  transform: translateY(-100px) rotate(0deg) scale(2);
  transition-duration: 300ms;
  z-index: 5;
}
.card:nth-child(10):hover .card-face:after {
  animation: fade 250ms ease-out forwards;
}
.card:nth-child(10):hover:after {
  top: -175px;
}

/* keyframes information */
@keyframes fade {
  0% {
    opacity: 0.9;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.15);
  }
}
