* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#fineprint {
  position: relative;
  height: 100vh;
  background: #030005;
}

#fineprint .fineprint {
  position: absolute;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fineprint {
  max-width: 767px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  color: grey;
}

.fineprint p {
  text-align: left;
  font-size: 14px;
}

.fineprint .superfineprint {
  position: relative;
  margin-top: 400px;
  z-index: -1;
}


.fineprint .superfineprint h2 {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: 0;
  right: 0;
  top: 20%;
  font-size: 42px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px purple;
  letter-spacing: 13px;
  margin: 0;
}

#fineprint #backbutton {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  background: black;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
}

#fineprint #backbutton:hover {
  color: #8400ff;
}

@media only screen and (max-width: 767px) {
    .fineprint .superfineprint h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
  .fineprint .superfineprint h1 {
      font-size: 182px;
  }
}
