.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 50%;
    height: 25%;
    overflow: auto;
    position: relative;
    background: radial-gradient(#333, #111);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#closeModal {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
}

#closeModal:hover, #closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}