.modal-base {
  top: 15%;
  position: relative;
  font-size: 1.25em;
  background: radial-gradient(#444, #111);
  margin: auto;
  padding: 1.5em;
	border: 0.125em solid #fff;
	border-radius: 1em;
	width: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  transform: scale(0.8);
  z-index: -1;
}

.modal-base_after-open {
  opacity: 1;
  transform: scale(1);
}

.modal-base_before-close {
  transform: scale(.2);
  opacity: 0;
}

.overlay-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  opacity: 0.5;
	transition: all 0.3s ease-out;
}

.overlay-base_after-open {
  opacity: 1;
}

.overlay-base_before-close {
  opacity: 0;
}

button {
  text-align: center;
}

#closeModal {
  outline: 0 none;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #ff005a;
  text-decoration: none;
  border: 2px solid;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
}

#closeModal:hover,
#closeModal:focus {
  background-color: transparent;
  color: #8400ff;
  outline: 0 none;
}
.modalstyles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.modalstyles-child {
    display: inline-block;
    bottom: 1em;
    margin: 0.5em
}

.modalstyles-header h2 {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    text-align: center;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    font-size: 2em;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 2px;
    margin-left: -12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 1px -3em 2em green,
    1px 3.5em -1em purple;
    z-index: 2;
}

.modalstyles-header p {
  margin: 1em;
}

.modalSignOutButton {
  position: relative;
  left: 50%;
  text-align: center;
}